html
  head 
    title="Task Management"
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" rel="stylesheet")
    link(rel="stylesheet", href="/style.css")
  body 
    div(class="container")
      a(href="/" class="pb-2" id="header")="Task Management"
        if isLoggedIn
            small 
                a(href="/logout" class="pl-3" id="logout-btn")="Logout"
        else
            small 
                a(href="/login" class="pl-3" id="login-btn")="Login" 
          
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous") 